extends layout 

block main
    div.main__body.account
        h1.account__title #{title} "#{user.username}"
        form.account__form.form-account(method="POST" action='')
            div.account__login.form-account__group
                label.form-account__label(for="account_username") Login:
                input#account_username.form-account__input(type='text' name='account_login' required 
                    maxlength="32" value=user.username tabindex='1')
            div.account__first.form-account__group
                label.form-account__label(for="account_first") First name:
                input#account_first.form-account__input(type='text' name='account_first' required 
                    maxlength="32" value=user.first_name tabindex='2')
            div.account__last.form-account__group
                label.form-account__label(for="account_last") Last name:
                input#account_last.form-account__input(type='text' name='account_last' required 
                    maxlength="32" value=user.last_name tabindex='3')
            div.account__membership-status.form-account__group
                p.form-account__membership-status Status: "#{user.membership_status}"
                p.form-account__membership-status if you want to change status, go to
                    |  
                    a(href=`/user/${user.id}/change-status` tabindex='5') change status page
            div.form-account__submit-box
                button.form-account__submit(type='submit' tabindex='6') Change user data