doctype html 
html(lang='ru')
    head
        title= title ? title : "Home Page"
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/style/css/style.css')
    body
        div.wrapper
            header.header
                .container 
                    .header__row
                        div.header__logo.logo 
                            a(class="logo__link" href='/') Members Only 
                        if user 
                            div.header__userinfo.userinfo
                                div.userinfo__username-box
                                    div.userinfo__title Login: 
                                        span #{user.username}
                                    div.userinfo__logout
                                        a(href='/user/log-out') log out
                                div.userinfo__userstatus-box
                                    div.userinfo__title Status: 
                                        span #{user.membership_status}
                                    div.userinfo__change-status
                                        a(href=`/user/${user._id}/change-status`) change status
                        div.header__menu.menu
                            ul.menu__list
                                if (!user)
                                    li.menu__item 
                                        a.menu__link(href="/user/sign-up") Sign Up 
                                    li.menu__item 
                                        a.menu__link(href="/user/log-in") Log In
                                else 
                                    li.menu__item 
                                        a.menu__link(href=`/user/${user._id}/account`) Account
                                if user
                                    li.menu__item 
                                        a.menu__link(href="/message/create") Create message
                                li.menu__item 
                                    a.menu__link(href="/message/list") Messages list

            main.main 
                .container 
                    block main
            footer.footer
                .container 
                    .footer__row
                        span Created by 
                            a.footer__link(href='https://github.com/damirios') damirios 
                        span &nbsp;| 2023